* {
    font-family: 'Lucida Grande', sans-serif;
}

body {
    color: #fcfcfc;
    background-color: #000000;
    font-family: 'Lucida Grande', sans-serif;
}

h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
}

p {
    font-size: 24px;
    padding-top: 20px;
}

img {
    display: block;
    margin: auto;
    max-width: 525px;
}

div {
    min-height: 150px;
    padding: 25px;
}

#red {
    background-color:#bc1515;
    text-align: right;
}

#blue {
    background-color: #0206ed;
    text-align: left;
}

#yellow {
    background-color:#fffc32;
    text-align: right;
    color: black;
}

#yellow h2 {
    text-shadow: 5px 5px 2px #808080;
}

#green {
    background-color:#0c6f12;
    text-align: left;
}

footer p {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;

}